/* 

---- TYPOGRAPHY SYSTEM

Font sizes (rem):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1
Small: 1.05
Paragraph: 1.6
    
----- COLOURS 

-Primary: 

-Tints: 
-Shades:
-Accents:
-Greys: 

----- BORDER-RADIUS

Default: 9px

----- WHITESPACE

Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
  --primary-colour-dark: #fcd5ce;
  --primary-colour-light: #f8f9fa;
  --primary-colour-black: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color-black);
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 120rem;
}

.hidden {
  display: none;
}

/****************************/
/* MENU */
/****************************/

.social-link {
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.social-link:hover {
  transform: scale(1.2);
}

.social-link-icon {
  width: 3rem;
}

/****************************/
/* HERO PAGE */
/****************************/

.background-container {
  height: 100vh;
  position: relative;
}

.text-container {
  position: relative;
  z-index: 3;
}

.coloured-box {
  height: 1.8rem;
  background-color: var(--primary-colour-dark);
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.coloured-box-project {
  width: 30.7rem;
  margin-left: 4rem;
}

.profile-picture {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-bottom: 1rem;
}

.row-mb {
  margin-bottom: 5rem;
}

h1 {
  font-size: 6.2rem;
  margin-bottom: 4.8rem;
  line-height: 1.05;
  margin-left: 7rem;
  z-index: 2;
}

h2 {
  font-size: 4.4rem;
  margin-left: 6rem;
}

p {
  font-size: 2rem;
  line-height: 1.6;
}

.scroll-down-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: none;
  transition: all 0.2s ease-in-out;
}

.scroll-down-btn:hover {
  transform: scale(1.2);
}

.typing-animation::after {
  content: "|";
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(100% + 0.4em);
  }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40) 1s forwards;
}

.typing-animation::after {
  content: "|";
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/****************************/
/* PROJECTS */
/****************************/

#projects {
  background-color: #fff4f2;
}

.maximise-btn {
  border: none;
}

.maximise-btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border: none;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: black;
}

.maximise-btn-icon:hover {
  transform: scale(1.2);
}

.projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--primary-colour-light);
}

.projects .container-fluid {
  max-width: 200rem;
}

.custom-rounded {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

.card.custom-rounded {
  overflow: hidden;
}

.card {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
}

.card-title {
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
}

.card,
.modal-content {
  border-radius: 14px;
  border: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 2rem;
  padding-top: 1rem;
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}

.card-body ul {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0rem;
  list-style: inside;
}

.card-body li {
  margin-bottom: 1rem;
  list-style: none;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card-text {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}

.card-footer {
  border: none;
  background-color: transparent;
}

ul p {
  text-decoration: underline;
}

.btn-group {
  margin-bottom: 2.4rem;
}

.btn-language {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.btn-language:hover {
  transform: scale(1.05);
}

.btn-react {
  background-color: #2ccef9;
}

.btn-javascript {
  background-color: #edd010;
}

.btn-html {
  background-color: #e44d26;
}

.btn-css {
  background-color: #264de4;
}

.btn-nodejs {
  background-color: #3c873a;
}

.btn-bootstrap {
  background-color: #563d7c;
}

.cta-group {
  gap: 20px;
  margin-bottom: 2rem;
}

.btn-card-cta {
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--primary-colour-black);
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-card-cta:hover {
  transform: scale(1.1);
}

.coming-soon {
  font-size: 1.8rem;
  color: #c92a2a;
  margin-bottom: 2rem;
}
.blur-card {
  backdrop-filter: blur(4px); /* Adjust the blur amount as desired */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Adjust the background color and opacity as desired */
}

.blur-card .card-img-top {
  filter: blur(4px); /* Apply the blur effect to the card image */
}

.blur-card .btn-group {
  filter: blur(4px); /* Apply the blur effect to the button group */
}

.blur-card .card-text {
  filter: blur(4px); /* Apply the blur effect to the card text */
}

.blur-card .cta-group {
  filter: blur(4px); /* Apply the blur effect to the CTA buttons */
}

.blur-card .card-title {
  filter: none; /* Remove the blur effect from the card title */
}

/****************************/
/* MODAL WINDOW FOR PROJECTS */
/****************************/

.modal {
  border-radius: 20px;
}

.modal-header {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-bottom: 1.2rem;
}

.modal-content {
  overflow: hidden;
}

.modal-header {
  padding: 1px;
  background-color: #fff;
  border: none;
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: 500;
  color: var(--primary-colour-black);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.close-modal-btn:hover {
  transform: scale(1.2);
}
